# Telegram
BOT_TOKEN=8114552558:AAFpnQEYHYa8P43g5rjOwPs5TSbjtYh9zS4
CHAT_ID=-1003142698012
AUTHORIZED_USER_ID=1305881282

# Twelve Data (comma-separated keys; rotate)
TD_API_KEYS=21a0860958e641cc934bec6277415088

# Finnhub Realtime
FINNHUB_TOKEN=d1hv9ipr01qhsrhcbr0gd1hv9ipr01qhsrhcbr10,d3ih5cpr01qmn7fk333gd3ih5cpr01qmn7fk3340

# Optional overrides
PAIR_SYMBOL=XAU/USD
PORT=8080
TICK_INTERVAL_SECONDS=60
CANDLE_INTERVAL_MIN=5
