# ====================================
# 🔧 Telegram Config
# ====================================
BOT_TOKEN=8114552558:AAFpnQEYHYa8P43g5rjOwPs5TSbjtYh9zS4
CHAT_ID=-1003142698012
AUTHORIZED_USER_ID=1305881282

# ====================================
# 💰 Polygon.io API
# ====================================
POLYGON_API_KEY=_pPRMiRYczajjHOrZ0LZ2Cx9Bku3cJOP

# ====================================
# ⚙️ Settings
# ====================================
PAIR_SYMBOL=XAU/USD
PORT=8080
TICK_INTERVAL_SECONDS=60
CANDLE_INTERVAL_MIN=5
